@import '~@angular/material/theming';


.map{
  height: 30vh;
}

.container {
  width: 95%;
}

// filers ---------------------------------------
.filterContainer{
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  margin-bottom: 1em;
  text-align: left;
}

.filterTitleContainer{
  padding: 1em;
  text-align: left;
  color: rgba(0,0,0,.54);
  font-family: Roboto,Helvetica, sans-serif;
}
// ------------------------------------------------

// cards ------------------------------------------
.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

// ------------------------------------------------

// Table ------------------------------------------
table {
  max-width: 100%;
}

tr {
text-align: left
;    
}

.rows td {
  border-bottom-width: 1px;
}

tr.rows:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.rows:not(.expanded-row):active {
  background: #efefef;
}
// ------------------------------------------------


.issue-detail {
  overflow: hidden;
  display: flex;
}

.imageFrame{
  max-width: 30%;
  min-width: 30%;
  border-style: groove;
  border-color: rgb(26, 25, 25);
  border-width: 0px 1px 0px 0px;
  vertical-align: auto;
  display: flex;
  justify-content: center;
}

mat-paginator{
  border: solid rgba(75, 73, 73, 0.54);
  border-width: 1px;
  border-radius: 5px;
}





