<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 mb-5">
            <div leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"
                [leafletLayers]="mapMarkers" class="map" ngDefaultControl>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class=" col-12">
            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                <mat-spinner style="display: inline-block;"></mat-spinner>
            </div>
            <div class="mb-5 ">
                <div class="filterContainer">
                    <div class="filterTitleContainer">
                        <strong>Filters</strong>
                    </div>
                    <div class="row justify-content-around">
                        <mat-form-field class="col-4">
                            <mat-label>Search </mat-label>
                            <input matInput [(ngModel)]='searchText' (change)="filterIssue()">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="col-4">
                            <mat-label>Stauts</mat-label>
                            <mat-select name="typeSelector" [(ngModel)]='issueStatus' (selectionChange)="filterIssue()">
                                <mat-option value="">all</mat-option>
                                <mat-option value="new">new</mat-option>
                                <mat-option value="inProgress">inProgress</mat-option>
                                <mat-option value="rejected">rejected</mat-option>
                                <mat-option value="resolved">resolved</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-none d-lg-flex cardsContainer">
                    <app-card *ngFor="let issue of issueList" 
                    [issue]="issue" 
                    (deleteClicked)="deleteIssue(issue.id)"
                    (moreClicked)="moreDetails(issue.id)"
                    (cardClicked)="onCardClicked(issue.id)"></app-card>
                </div>
                <table fxLayout="column wrap" class="d-lg-none" #table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let issue"> {{issue.description}}
                            <div class="issue-detail"
                                [@detailExpand]="issue == expandedIssue ? 'expanded' : 'collapsed'">
                                <app-card [issue]="issue"></app-card>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rows"
                        [class.expanded-row]="expandedIssue === row" (click)="onRowClickedExpand(row)">
                    </tr>
                </table>
                <mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="[6, 12, 18, 36]"
                    [length]="dataSource.totalItems">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>