<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 mb-5">
            <div leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"
                [leafletLayers]="mapMarkers" class="map" ngDefaultControl>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class=" col-12">
            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
                <mat-spinner style="display: inline-block;"></mat-spinner>
            </div>
            <div class="mb-5 ">
                <div class="wrapperContainer">
                    <div class="filterTitleContainer">
                        <strong>Filters</strong>
                    </div>
                    <div class="row justify-content-around">
                        <mat-form-field class="col-4">
                            <mat-label>Search </mat-label>
                            <input matInput [(ngModel)]='searchText' (change)="filterIssue()">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                        <mat-form-field class="col-4">
                            <mat-label>Stauts</mat-label>
                            <mat-select name="typeSelector" [(ngModel)]='issueStatus' (selectionChange)="filterIssue()">
                                <mat-option value="">all</mat-option>
                                <mat-option value="new">new</mat-option>
                                <mat-option value="inProgress">inProgress</mat-option>
                                <mat-option value="rejected">rejected</mat-option>
                                <mat-option value="resolved">resolved</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="cardsContainer">
                    <div #IdHolder [id]="issue.id" *ngFor="let issue of issueList">
                    <mat-card  (click)="onCardClicked(IdHolder.id)" matRipple class="d-none d-lg-block clickable"  >
                        <div class="issue-detail">
                            <div class="imageContainer">
                                <img class="imagePreview"
                                    [src]="issue.imageUrl ? issue.imageUrl : '../../../assets/Images/noImage.svg'"
                                    alt="{{issue.imageUrl}}">
                            </div>
                            <div class="detailsContainer">
                                <div class="tags"> {{issue.tags}} </div>
                                <div class="description"> {{issue.description}} </div>
                                <div> created : {{issue.createdAt | date:'mediumDate' }} </div>
                                <br>
                                <div [ngClass]="{'state-new' : issue.state === 'new',
                                'state-inprogress' : issue.state === 'inProgress',
                                'state-rejected' : issue.state === 'rejected',
                                'state-resolved' : issue.state === 'resolved'}">
                                    {{issue.state}}
                                </div>
                                <button mat-raised-button color="secondary" class="deleteButton" (click)="deleteIssue()">
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                                <button mat-raised-button color="primary" class="moreButton" (click)="moreDetails()">more</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
                </div>
                 <table class="d-lg-none" #table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let issue"> {{issue.description}}
                            <div class="issue-detail"
                                [@detailExpand]="issue == expandedIssue ? 'expanded' : 'collapsed'">
                                <div class="imageContainer">
                                    <img class="imagePreview"
                                        [src]="issue.imageUrl!== ''  ? issue.imageUrl : '../../../assets/Images/noImage.svg'"
                                        alt="{{issue.imageUrl}}">
                                </div>
                                <div class="detailsContainer">
                                    <div class="tags"> {{issue.tags}} </div>
                                    <div class="description"> {{issue.description}} </div>
                                    <div> created : {{issue.createdAt | date:'mediumDate' }} </div>
                                    <br>
                                    <div [ngClass]="{'state-new' : issue.state === 'new',
                                                    'state-inprogress' : issue.state === 'inProgress',
                                                    'state-rejected' : issue.state === 'rejected',
                                                    'state-resolved' : issue.state === 'resolved'}">
                                        {{issue.state}}
                                    </div>
                                    <button mat-raised-button color="secondary" class="deleteButton"
                                        (click)="deleteIssue()">
                                        <mat-icon>delete_outline</mat-icon>
                                    </button>
                                    <button mat-raised-button color="primary" class="moreButton"
                                        (click)="moreDetails()">more</button>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rows"
                        [class.expanded-row]="expandedIssue === row" (click)="onRowClickedExpand(row)">
                    </tr>
                </table>
                <mat-paginator [pageSize]="itemsPerPage" [pageSizeOptions]="[6, 12, 18, 36]"
                    [length]="dataSource.totalItems">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>