@import '~@angular/material/theming';


.map{
  height: 30vh;
}

.container {
  width: 95%;
}

// filers ---------------------------------------
.filterContainer{
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.2);
  margin-bottom: 1em;
  text-align: left;
}

.filterTitleContainer{
  padding: 1em;
  text-align: left;
  color: rgba(0,0,0,.54);
  font-family: Roboto,Helvetica, sans-serif;
}
// ------------------------------------------------

// cards ------------------------------------------
.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

// ------------------------------------------------

// Table ------------------------------------------
table {
  width: 100%;
}

tr {
text-align: left
;    
}

.rows td {
  border-bottom-width: 1px;
}

tr.rows:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.rows:not(.expanded-row):active {
  background: #efefef;
}
// ------------------------------------------------

// Sharred cards and table ------------------------
.issue-detail {
  overflow: hidden;
  display: flex;
}

.imageFrame{
  max-width: 30%;
  min-width: 30%;
  border-style: groove;
  border-color: rgb(26, 25, 25);
  border-width: 0px 1px 0px 0px;
  vertical-align: auto;
  display: flex;
  justify-content: center;
}

.imagePreview{
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  padding-right: 1em;
}

.detailsContainer{
  max-width: 70%;
  padding-left: 1em;
  text-align: start;
  margin: auto;
}

.tags{
  font-size: 1.5em;
  font-weight: bold;
  max-width: 100%;
  padding-bottom: 1em;
}

div.tags mat-form-field{
  width: 100%;
}

div.tags mat-form-field{
  width: 100%;
}

div.tags mat-form-field-infix {
  border-top: none !important;
}

#TagsMatContainer{
  border-top: 0;
}

.description{
  font-weight: lighter;
  padding-bottom: 0.5em;
  max-width: 100%;
}

.moreButton{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.deleteButton{
  position: absolute;
  right: 100px;
  bottom: 10px;
};

.deleteButton:hover{
  color: red;
}

mat-paginator{
  border: solid rgba(75, 73, 73, 0.54);
  border-width: 1px;
  border-radius: 5px;
}
// ------------------------------------------------




