<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/">Report an issue</a>
        <a mat-button routerLink="/">My issues</a>
        <a mat-button routerLink="/">All issues</a>
        <a mat-button routerLink="/">my Accout</a>
        <a mat-button routerLink="/">Log out</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> 