
.mat-sidenav-container{
  height: 93vh;
}

a{
    text-decoration: none;
    font-size: 1em;
    white-space: normal;
}

button{
    font-size: 1em;
    min-width: min-content;
}

.spacer {
    flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 1em;
    text-align: center;
    height: 100%;
}

.activeRoute {
    text-decoration :underline !important;
  }