<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLinkActive="activeRoute" routerLink="/reportIssue">Report an issue</a>
        <a mat-button routerLinkActive="activeRoute" routerLink="/myIssues">My issues</a>
        <a mat-button routerLinkActive="activeRoute" routerLink="/allIssues">All issues</a>
        <a mat-button routerLinkActive="activeRoute" routerLink="/myAccount">my Accout</a>
        <a *ngIf="AuthService.isAdminUser()" mat-button routerLinkActive="activeRoute" routerLink="/admin">Admin</a>
        <a mat-button (click)="logout()">Log out</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> 