<h1>Report an issue</h1>

<div fxLayout="row" fxLayout.md="colum" fxLayoutAlign="space-around">
  <div fxLayout="column">
    <form action="" method="post">
      <mat-form-field appearance="outline">
        <mat-label>Tags</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea [(ngModel)]='description' matInput #textarea maxlength="1000" form="repIssueForm"></textarea>
        <mat-hint>{{description.length}}/1000</mat-hint>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>

  <div style="height: 50mm;" fxFlex="40" style="background-color: blue;"> </div>
</div>