<h1>Report an issue</h1>

<div class="container">
  <div class="row">
    <div class="col-6">"
      <form action="" method="post">
        <mat-form-field appearance="outline">
          <mat-label>Tags</mat-label>
          <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea name="description" [(ngModel)]='description' matInput maxlength="1000"
            form="repIssueForm"></textarea>
          <mat-hint>{{description.length}}/1000</mat-hint>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div> 