<div *ngIf="display" class="container mt-lg-5">
    <div *ngIf="comments.length > 0" class="row">
        <div class="col-12">
            <mat-list>
                <mat-list-item *ngFor="let comment of comments">
                    <small><strong class="author">{{comment.author.firstname}}
                            {{comment.author.lastname}}</strong><span>
                            &nbsp;wrote on &nbsp;</span><em class="date">{{comment.createdAt | date:'medium'}}</em>
                        &nbsp;:
                        &nbsp;</small>{{comment.text}}
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>