<div class="container mt-5">
    <p class="alignLeft"><strong>Add new issue's type</strong></p>
    <form #newTypeForm="ngForm" (submit)="addNewType(newTypeForm)">
        <div class="row align-items-center justify-content-center">
            <div class="col-11 col-lg-3">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input required ngModel 
                            #nameField name="Name" 
                            matInput maxlength="25" 
                            form="newTypeForm" 
                            placeholder="Damaged sidewalk">
                    <mat-hint>{{nameField.value?.length || 0}}/25</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-11 col-lg-7">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea   ngModel 
                                #descriptionField name="Description" 
                                matInput 
                                maxlength="1000" 
                                form="newTypeForm"
                                placeholder="Sidewalk with multiple holes in the asphalt...">
                    </textarea>
                    <mat-hint>{{descriptionField.value?.length || 0}}/1000</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-2">
                <button [disabled]="!newTypeForm.valid" 
                        mat-raised-button 
                        color="primary" type="submit" 
                        class="mb-2 col-2">add
                </button>
            </div>
        </div>
    </form>
    <p><strong>User's list</strong></p>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner style="display: inline-block;"></mat-spinner>
    </div>
    <div class="tableContainer">
        <table class="table" fxLayout="column wrap" 
                #table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let user"> {{user.firstname}} {{user.name}}</td>
            </ng-container>
            <ng-container matColumnDef="Roles">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let user">#{{user.roles.toString().split(',').join(' #')}}</td>
            </ng-container>
            <ng-container matColumnDef="MakeStaf">
                <th mat-header-cell *matHeaderCellDef> actions </th>
                <td mat-cell *matCellDef="let user">
                    <button *ngIf="!user.roles.toString().includes('staff')"
                             (click)="makeUserStaff(user.id)" mat-raised-button 
                             color="primary">
                             Make him staff
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rows"></tr>
        </table>
        <mat-paginator  [pageSizeOptions]="[10, 20, 50]" 
                        [length]="dataSource.totalItems">
        </mat-paginator>
    </div>
</div>