@import '~@angular/material/theming';
  
  .card{
    margin: 5px;
    width: 700px;
  }
  
  .issue-detail {
    overflow: hidden;
    display: flex;
  }
  
  .imageFrame{
    max-width: 30%;
    min-width: 30%;
    border-style: groove;
    border-color: rgb(26, 25, 25);
    border-width: 0px 1px 0px 0px;
    vertical-align: auto;
    display: flex;
    justify-content: center;
  }
  
  .imagePreview{
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
    padding-right: 1em;
  }
  
  .detailsContainer{
    max-width: 70%;
    padding-left: 1em;
    text-align: start;
    margin: auto;
  }
  
  .tags{
    font-size: 1.5em;
    font-weight: bold;
    max-width: 100%;
    padding-bottom: 1em;
  }
  
  div.tags mat-form-field{
    width: 100%;
  }
  
  div.tags mat-form-field{
    width: 100%;
  }
  
  div.tags mat-form-field-infix {
    border-top: none !important;
  }
  
  #TagsMatContainer{
    border-top: 0;
  }
  
  .description{
    font-weight: lighter;
    padding-bottom: 0.5em;
    max-width: 100%;
  }
  
  .moreButton{
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .deleteButton{
    position: absolute;
    right: 100px;
    bottom: 10px;
  };
  
  .deleteButton:hover{
    color: red;
  }