
.map{
    height: 50vh;
}

.container {
    width: 95%;
    display: block;
  }
  
  mat-form-field{
      display: block;
  }

  textarea{ 
    min-height: 25vh;
}
  .backButton{
      padding-left: 20px;
      top: 5px;
      position: sticky;
  }

 .commentField{ 
    min-height: 10vh;
}

small{
    color: rgba(0, 0, 0, 0.568);
}

.deleteComment{
    position: absolute;
    right: 10px;
}
  
.deleteComment:hover{
    color: red;
}