
.map{
    height: 50vh;
}

.container {
    width: 95%;
    display: block;
}
  
mat-form-field{
    display: block;
}

mat-card-content{
    padding-top: 1em;
}


textarea{ 
    min-height: 25vh;
}

.backButton{
    padding-left: 20px;
    top: 5px;
    position: sticky;
    z-index: 1000;
}

.imagesFlexContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.imageContainer{
    margin: 5px 10px 5px 0px;
    height: 250px;
    width:  auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img{
    height : 100%;
}

.changeIssueStatusContaintainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.startBtn{
    color: rgba(252, 0, 155, 0.678);
}

.rejectBtn{
    color: rgba(216, 22, 22, 0.774);
}

.resolveBtn{
    color: rgba(57, 156, 26, 0.719);
}