<div class="row justify-content-start backButton">
  <button (click)="navigateBack()" mat-raised-button color="secondary">
    <mat-icon><img src="../../../assets/Images/arrow_back-24px.svg" alt=""></mat-icon>
  </button>
</div>

<div class="container mt-5">
  <div class="row align-items-center justify-content-center">
    <div class=" col-10 col-lg-5 ">
      <form #updateIssueForm="ngForm" (submit)="updateIssue(updateIssueForm)" *ngIf="editMode">
        <mat-form-field appearance="outline">
          <mat-label>Tag(s) (# prefix)</mat-label>
          <input [(ngModel)]='currentIssue.tags' name="Tags" matInput maxlength="100" form="repIssueForm"
            placeholder="ex: #StreetHole #CityCenter">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea required #descriptionField="ngModel" name="description" [(ngModel)]='currentIssue.description'
            matInput maxlength="1000" form="updateIssueForm" placeholder="Write a small description..."></textarea>
          <mat-hint>{{description.length}}/1000</mat-hint>
        </mat-form-field>
        <p *ngIf="descriptionField.hasError('required') && descriptionField.touched" class="ErrorMessage">
          Description is required
        </p>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Image(s)</mat-label>
          <ngx-mat-file-input [multiple]="true" name="images" [(ngModel)]='images' form="repIssueForm"
            [accept]="'.gif, .jpg, .png'"></ngx-mat-file-input>
          <mat-icon matSuffix>image</mat-icon>
        </mat-form-field>
        <br>
        <div class="mb-5 row align-items-center justify-content-around">
          <button [disabled]="!this.mapMarkers.length || !updateIssueForm.valid" mat-raised-button color="primary"
            type="submit">Submit</button>
          <button (click)="editMode = !editMode" mat-raised-button color="secondary">Cancel</button>
        </div>
      </form>
      <div *ngIf="!editMode">
        <mat-card>
          <mat-card-title>{{currentIssue.tags}}</mat-card-title>
          <img matCardImageMedium src="../../../assets/Images/noImage.svg">
          <mat-card-content>{{currentIssue.description}}</mat-card-content>
          <mat-card-footer>
            <div [ngClass]="{'state-new' : currentIssue.state === 'new',
          'state-inprogress' : currentIssue.state === 'inProgress',
          'state-rejected' : currentIssue.state === 'rejected',
          'state-resolved' : currentIssue.state === 'resolved'}">
              {{currentIssue.state}}
            </div>
          </mat-card-footer>
        </mat-card>
        <button class="mt-5 mb-5" mat-raised-button color="primary" (click)="editMode = !editMode">Edit</button>
      </div>
    </div>
    <div class="col-10 order-first order-lg-last mb-5 mb-lg-0 col-lg-6 offset-lg-1">
      <div (leafletClick)="updateMarker($event)" leaflet [leafletOptions]="mapOptions"
        (leafletMapReady)="onMapReady($event)" [leafletLayers]="mapMarkers" class="map" ngDefaultControl>
      </div>
    </div>
  </div>
  <div *ngIf="!editMode" class="container mt-5" >
    <div class="row align-items-center justify-content-center">
      <form class="col-12" #postCommentForm="ngForm" (submit)="postComment(postCommentForm)">
        <span class="col-9">
        <mat-form-field appearance="outline">
          <mat-label>Leave a comment</mat-label>
          <textarea #CommentField="ngModel" name="comment" [(ngModel)]='newComment' matInput maxlength="1000"
            form="postCommentForm" placeholder="..." class="commentField"></textarea>
          <mat-hint>{{newComment.length}}/1000</mat-hint>
        </mat-form-field></span>
        <span class="mb-5 offset-1 col-2">
          <button [disabled]="newComment.length < 1" mat-raised-button color="primary" type="submit">Post</button>
        </span>
      </form>
    </div>
  </div>
</div>