<div class="row justify-content-start backButton">
  <button (click)="navigateBack()" mat-raised-button color="secondary">
    <mat-icon><img src="../../../assets/Images/arrow_back-24px.svg" alt=""></mat-icon>
  </button>
</div>

<div class="container mt-5">
  <div class="row align-items-center justify-content-center">
    <div class=" col-10 col-lg-5 ">
      <form #updateIssueForm="ngForm" (submit)="updateIssue(updateIssueForm)" *ngIf="editMode">
        <mat-form-field appearance="outline">
          <mat-label>Tag(s) (# prefix)</mat-label>
          <input [(ngModel)]='currentIssue.tags' name="Tags" matInput maxlength="100" form="repIssueForm"
            placeholder="ex: #StreetHole #CityCenter">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea required #descriptionField="ngModel" name="description" [(ngModel)]='currentIssue.description'
            matInput maxlength="1000" form="updateIssueForm" placeholder="Write a small description..."></textarea>
          <mat-hint>{{description.length}}/1000</mat-hint>
        </mat-form-field>
        <p *ngIf="descriptionField.hasError('required') && descriptionField.touched" class="ErrorMessage">
          Description is required
        </p>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Image(s)</mat-label>
          <ngx-mat-file-input [multiple]="true" name="images" [(ngModel)]='images' form="repIssueForm"
            [accept]="'.gif, .jpg, .png'"></ngx-mat-file-input>
          <mat-icon matSuffix>image</mat-icon>
        </mat-form-field>
        <br>
        <div class="mb-5 row align-items-center justify-content-around">
          <button [disabled]="!this.mapMarkers.length || !updateIssueForm.valid" mat-raised-button color="primary"
            type="submit">Submit</button>
          <button (click)="editMode = false" mat-raised-button color="secondary">Cancel</button>
        </div>
      </form>
      <div *ngIf="!editMode">
        <mat-card>
          <mat-card-title>{{currentIssue.tags}}</mat-card-title>
          <img matCardImageMedium src="../../../assets/Images/noImage.svg">
          <div> created : {{currentIssue.createdAt | date:'mediumDate' }} </div>
          <br>
          <mat-card-content>{{currentIssue.description}}</mat-card-content>
          <mat-card-footer>
            <div [ngClass]="{'state-new' : currentIssue.state === 'new',
          'state-inprogress' : currentIssue.state === 'inProgress',
          'state-rejected' : currentIssue.state === 'rejected',
          'state-resolved' : currentIssue.state === 'resolved'}">
              {{currentIssue.state}}
            </div>
          </mat-card-footer>
        </mat-card>
        <button class="mt-5 mb-5" mat-raised-button color="primary" (click)="editMode = true">Edit</button>
      </div>
    </div>
    <div class="col-10 order-first order-lg-last mb-5 mb-lg-0 col-lg-6 offset-lg-1">
      <div (leafletClick)="updateMarker($event)" leaflet [leafletOptions]="mapOptions"
        (leafletMapReady)="onMapReady($event)" [leafletLayers]="mapMarkers" class="map" ngDefaultControl>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!editMode" class="container mt-lg-5">
  <div class="col-12">
    <mat-list>
      <mat-list-item *ngFor="let comment of comments">
        <small><strong class="author">{{comment.author.firstname}} {{comment.author.lastname}}</strong><span> &nbsp;wrote on &nbsp;</span><em class="date">{{comment.createdAt | date:'medium'}}</em> &nbsp;: &nbsp;</small>{{comment.text}}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <form (submit)="postComment()">
    <div class="row align-items-center justify-content-center">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Leave a comment</mat-label>
          <textarea class="commentField" name="comment" [(ngModel)]='newComment.text' matInput maxlength="1000" placeholder="..." ></textarea>
          <mat-hint>{{newComment.text.length}}/1000</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-5 col-2">
        <button [disabled]="newComment.text.length < 1" mat-raised-button color="primary" type="submit">Post</button>
      </div>
    </div>
  </form>
</div>
