
.companyName{
    font-size: 1.5em;
}

.mat-toolbar{
  height: 7vh;
}

div {
    overflow: inherit;
}

a{
    text-decoration: none;
    font-size: 1em;
    white-space: normal;
}

button{
    font-size: 1em;
    min-width: min-content;
}

.spacer {
    flex: 1 1 auto;
}

img{
  padding-left: 5mm;
  width: 70px;
  height: 70px;
}

@media (max-width: 1100px) {
  .companyName{
    font-size: 1em;
  }

  a{
    text-decoration: none;
    font-size: 0.8em;
    white-space: normal;
  }

}

@media (max-width: 330px) {
  img{
      display: none;
  }
}