/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~bootstrap-4-grid/scss/grid.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pageTitle{
    padding-bottom: 2em;
}

.ErrorMessage {
    font-size: 1.5 em;
    font-weight: bold;
}

.SnackBarSuccess {
    background-color: #0dcf17c5 !important;
}

.SnackBarError {
    background-color: #ff2f2fe8 !important; 
}

.SnackBarButton button{
    color: whitesmoke;
    font-weight: bold;
}

.state-new {
    font-size: 1 em;
    font-weight: bold;
    font-style: italic;
    color: rgba(252, 0, 155, 0.753);
}


.state-inprogress {
    font-size: 1 em;
    font-weight: bold;
    font-style: italic;
    color: rgba(248, 141, 0, 0.767);
}


.state-rejected {
    font-size: 1 em;
    font-weight: bold;
    font-style: italic;
    color: rgba(240, 0, 0, 0.884);
}


.state-resolved {
    font-size: 1 em;
    font-weight: bold;
    font-style: italic;
    color: rgba(50, 145, 47, 0.795);
}

.clickable {
    cursor: pointer;
    &:hover {
      @include mat-elevation(8);
    }
  }

mat-hint{
    font-size: medium;
}