mat-form-field{
    display: block;
}

.map{
    height: 50vh;
}

textarea{ 
    min-height: 25vh;
}

.container {
    width: 95%;
  }

.imagesFlexContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imageContainer{
    margin: 5px 10px 5px 0px;
    padding: 5px;
    height: 100px;
    width: 100px;
}
.container img{
    max-width: 100%;
    max-height: 100%;
}

.deleteiconContainer{
    height: 50px;
    width: 50px;
}
.deleteIcon{
    max-width: 100%;
    max-height: 100%;
}